@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body{
    margin: 0;
    font-family: "Carter One", cursive;
    background-color: #FFF2E2;
}

/* BANIERE */
h1{
    margin: 0;
    font-size: 50px ;
}
header{
    display: flex;
    flex-direction: column;
    height: 350px;
    background-image: url(img/eggs.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.navHeader{
    color: white;
}
.navHeader ul {
    display: flex;
    padding-top: 20px;
    margin-top: 0;
    list-style: none; 
    justify-content: flex-end;    
}
.navHeader a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    border-right: solid 1px white;
}
header h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
header h1::before{
    display: inline-block;
    content: "";
    height: 140px;
    width: 140px;
    background-image: url(img/Logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
header form{
    display: flex;
    flex-direction: row;
    justify-self: end;
    justify-content: center;
    margin-top: 10px;
}
header input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: #FFFFFF ;
    border: 0px;
}
header button{
    background-image: url(Img/loupe.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border: solid 0px;
    width: 25px;
    height: 25px;
    margin-left: -35px;
    transform: translateY(9px)
}
header form::before{
    content: url(img/burger.png);
    padding-right: 20px;
    height: 40px;
    transform: translateY(-5px);
}



/* PETITE BANNIERE*/

.smallHeader{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 10px;
    position: relative;
}
.smallHeader h1{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    order: 3;
}
.smallHeader h1::before{
    height: 80px;
    width: 80px;
    margin-left: 60px;
}
.smallHeader form{
    order: 2;
}
.smallHeader form::before{
    position: absolute;
    top: 30px;
    left: 10px;
}
.smallHeader .navHeader{
    order: 1
}


/*PLAT DU JOUR*/
.platDuJour{
    display: block;
    height: 400px;
    width: 90%;
    margin: 20px 0px;
    margin-left: auto;
    margin-right: auto;
    
}
.platDuJour img{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.platDuJour label{
    display: block;
    color: #FFFFFF;
    text-align: center;
    margin-top: -90px;
    font-size: 40px ;
    filter: drop-shadow(5px 5px 2px #000000)
}
/* CORPS PRINCIPAL*/
section h2{
    margin-left: 5%;
    font-size: 40px ;
}
.recetteContainer{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin: auto;
    width: 95%;
}
/* VIGNETTE RECETTE*/
.recetteCard{
    width: 350px ;
    height: 350px;
    background-color: #FFFFFF;
    margin: 30px auto ;
}
.recetteCard img{
    display: block;
    width: 318px;
    height: 280px;
    margin: 16px auto ;
}
.recetteTitle{
    display: block;
    color: #FFFFFF;
    text-align: center;
    margin-top: -60px;
    font-size: 24px ;
    filter: drop-shadow(5px 5px 2px #000000)
}
.recetteAvis{
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: 16px;
    margin-right: 16px;
    font-size: 24px ;
}
.etoiles {
    display: inline-flex;
    justify-content: center;
    font-size: 3em;
    margin-left: 16px;
}
.etoile{
    content: url(Img/etoile.png);
    display: block;
    width: 30px;
    height: 30px;
}
.grise{
    content: url(Img/etoileGrise.png);
}
/* VIGNETTE AJOUT*/
.ajout{
    background-color: rgba(0,0,0,0);
}
.ajouter{
    display: block;
    text-align: center;
    font-size: 30px ;
}
.ajouter::before{
    content: "";
    display: block;
    width: 280px;
    height: 280px;
    margin: 16px auto ;
    background-image: url(img/logoPlus.svg);
    background-size:cover;
    background-repeat: no-repeat;
    color: #F9B2B2 ;
}
/* PAGE RECETTE*/

.section,.username{
    display: inline;
}
.bandeau{
    margin: 10px auto;
    width: 90%;
    height: 66px;
    background: #B2F9B9;
    border-radius: 10px;
}
h3{
    font-family: 'Carter One';
    font-size: 30px;
    color: rgba(0, 0, 0, 0.53);
}
.h3Bandeau{
    font-family: 'Carter One';
    font-size: 30px;
    color: rgba(0, 0, 0, 0.53);
    margin-left: 80px;
}
/*.divPhoto{
    height: 550px;
    width: auto;
    overflow: hidden;
}*/
.photoPrincipale{
    margin: auto;
    display: block;
    width: 90%;
    height: 550px;
    border-radius: 10px;
}
.nbrPersonnes{
    margin-left: 80px;
}



/*PIED DE PAGE*/
footer{
    background-image: url(Img/PhotoRecettes/eggs.jpg);
    background-size: cover;
    height: 70px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
footer *{
    margin: 0 20px;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
}