@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body{
    margin: 0;
    font-family: "Carter One", cursive;
    background-color: #FFF2E2;
}

a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
    font-family: inherit;
    background-color: #FFFFFF;
}
button:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

/* BANIERE */
h1{
    margin: 0;
    font-size: 50px ;
}
header{
    display: flex;
    flex-direction: column;
    height: 350px;
    background-image: url(img/eggs.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.navHeader{
    color: white;

    text-align: end;
}
.navHeader{
    display: flex;
    margin-top: 20px;
    list-style: none; 
    justify-content: flex-end;    
}
.navHeader a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid 1px white;
}
header h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0 auto;
}
header h1::before{
    display: inline-block;
    content: "";
    height: 140px;
    width: 140px;
    background-image: url(img/Logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
 header form{
    display: flex;
    flex-direction: row;
    justify-self: end;
    justify-content: center;
    margin-top: 10px;
}
.recherche{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    padding-left: 20px;
    background-color: #FFFFFF ;
    border: 0px;
}
.loupe{
    background-image: url(Img/loupe.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border: solid 0px;
    width: 25px;
    height: 25px;
    margin-left: -35px;
    transform: translateY(9px);
    cursor: pointer;
}
.seConnecter{
    cursor: pointer;
}

/* BURGER */

header form .burger{
    background-image: url(img/burger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: translateY(-5px);
    cursor: pointer;
}

.menuBurger{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 350px;
    left: -101%;
    background-color: #FFF2E2;
    border-radius: 20px;
    border: solid 1px #000000;
}
.menuBurger ul {
    width: 100%;
    padding-inline-start: 0;
    text-align: center;
    line-height: 50px;
    list-style: none;
    padding-right: 30px;
    border-right: solid 1px #000000;
}
.menuBurger ul li:hover{
    transform: scale(1.3);
    transition: transform 0.3s;
}
.menuBurger .recetteCard{
    background-color: transparent;
    transform: scale(0.7);
    margin: 0;
}
.menuBurgerVisible{
    left: 5%;
    transition: left 1s;
    position: absolute;
    float: left;
}
.croix{
    position: absolute;
    font-size: larger;
    top: 10px;
    right: 20px;
}
.croix:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 0.3s;
}


/* PETITE BANNIERE*/

.smallHeader{

    position: fixed;
    top: -100px;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    z-index: 20;
    padding: 0px 10px;
    transform: translateY(100px);
    transition: transform 1s ;
    
}
.smallHeader h1{
    font-size: 30px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    order: 3;
}
.smallHeader h1::before{
    height: 80px;
    width: 80px;

    margin-left: 20px;
}
.smallHeader form{
    width: 260px;
    order: 2;
}
.smallHeader form .burger{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 30px;
    left: 10px;
}
.smallHeader .navHeader{
    margin-top: 5px;
    flex-direction: column;
    order: 1
}
.smallHeader .navHeader a{
    border-right: 0px;
    margin: 5px;
}
.smallHeader .menuBurger{

    margin: 250px auto 0px auto;
}
.smallHeader .connexion{
    top: 30%;
}
.smallHeader .connexion form input{
    text-align: center;
}

/*CONNEXION*/
.popUp{
    width: 60%;
    top:10%;
    left: 20%;
    position: absolute;
    display: flex;
    flex-direction: column ;
    align-items: center;
    background-color: #FFF2E2;
    border: solid 1px lightgray;
    border-radius: 20px;
    margin: 0 auto;
    
}
.popUp form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.popUp form input{
    text-align: center;
}
.popUp button{
    align-self: center;
    margin-bottom: 20px;
}
.mdpOublie{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 10px ;
    cursor: pointer;
}

/*PLAT DU JOUR*/
.platDuJour{
    display: block;
    height: 400px;
    width: 90%;
    margin: 40px 0px;
    margin-left: auto;
    margin-right: auto;
    
}
.platDuJour img{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.platDuJour .label{
    display: block;
    color: #FFFFFF;
    text-align: center;
    margin-top: -120px;
    font-size: 40px ;
    filter: drop-shadow(5px 5px 2px #000000)
}

/* CORPS PRINCIPAL*/
section h2{
    margin-left: 5%;
    font-size: 40px ;
}
.recetteContainer{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin: auto;
    max-width: 1200px ;
}
/* VIGNETTE RECETTE*/
.recetteCard{
    width: 350px ;
    height: 350px;
    background-color: #FFFFFF;
    margin: 30px auto ;
}
.recetteCard img{
    display: block;
    width: 318px;
    height: 280px;
    overflow: hidden;
    margin: 16px auto ;
}
.recetteTitle{
    display: block;
    color: #FFFFFF;
    text-align: center;
    width: 300px;
    height: 80px;
    margin: -100px auto 0 auto;
    font-size: 24px ;
    filter: drop-shadow(5px 5px 2px #000000)
}
.recetteAvis{
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 16px;
    font-size: 24px ;
}
.etoiles {
    background-image: url("Img/Etoiles.svg");
    background-repeat: no-repeat;
    margin-left: 16px;
    width: 196px;
    height: 42px;
}
.zero{
    background-position-y: -214px;
}
.une{
    background-position-y: -172px;
}
.deux{
    background-position-y: -130px;
}
.trois{
    background-position-y: -88px;
}
.quatre{
    background-position-y: -46px;
}

/* VIGNETTE AJOUT*/

.ajouter{
    display: block;
    text-align: center;
    font-size: 30px ;
    height: 350px;
    text-decoration: none;
    color: #000000;
    margin-top: 12px;
}

.ajouter::before{
    content: "";
    display: block;
    width: 280px;
    height: 280px;
    margin: auto ;
    background-image: url(img/logoPlus.svg);
    background-size:cover;
    background-repeat: no-repeat;
    color: #F9B2B2 ;
}
/* PAGE RECETTE*/
.corpsPageRecette{
    width: auto;
}
.section,.username{
    display: inline;
}
.bandeau{
    justify-content: space-between;
    display:flex;
    width: 90%;
    height: 66px;
    background: #B2F9B9;
    border-radius: 20px;
    margin: 10px auto;
    align-items: center;
}
.bandeauDroite{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25px;
}
h2{
    margin-left: 25px;
}
h3{
    font-family: 'Carter One';
    font-size: 30px;
    color: rgba(0, 0, 0, 0.53);
}
.h3Bandeau{
    font-family: 'Carter One';
    font-size: 30px;
    color: rgba(0, 0, 0, 0.53);
    margin-left: 80px;
}
.listIngredients ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
/*.divPhoto{
    height: 550px;
    width: auto;
    overflow: hidden;
}*/
.photoPrincipale{
    margin: auto;
    display: block;
    width: 90%;
    height: 550px;
    border-radius: 20px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.ajouterListe{
    font-family: 'Carter One';
    font-size: 30px;
    border-radius: 10px;
    border: solid  1px black;
    padding: 3px;
    cursor: pointer;
    font-family: inherit;
    background-color: #FFFFFF;
}
.ajouterListe:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

.plusEtMoins{
    background-color: #FFFFFF;
    width: 30px;
    border-radius: 30%;
}
.listIngredients{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    margin: 10px auto;
    justify-content: flex-start;
}
.listIngredients ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.cardIngredients img{
    display:block;
    margin: auto;
    object-fit: contain;
    width: 150px;
    height: 150px;
    text-align: justify;
    margin: 0 10px;
}
.pEtapes{
    width: 90%;
    margin: 0 5%;
    text-align: justify;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
#exporter{
    display:block;
    margin: 0 auto;
    width: 30%;
}
.blockCommentaires{
    width: 90%;
    height: auto;
    background: #F9E8D3;
    border-radius: 20px;
    margin: 10px auto;
}
.bandeauRouge{
    justify-content: space-between;
    display:flex;
    width: 90%;
    height: 66px;
    border-radius: 20px;
    margin: 15px auto;
    align-items: center;
    background-color: #F9B2B2;
}
.user{
    display: flex;
    align-items: center;
}
.commentairesRecette{
    display: flex;
    background-color: #FCD6D6;
    width: 90%;
    border-radius: 20px;
    margin: 10px auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}
.ajoutCommentaire{

}
/*PAGE INSCRIPTION*/
.inscriptionContainer{
    display: flex;
    margin: 20px auto ;
    flex-direction: column;
    align-items: stretch center;
    max-width: 450px;
    text-align: center;
}
.inputInscription{
    width: 90%;
    margin-bottom: 15px; 
}
.inputInscription , .buttonInscription{
    border: solid 1px lightgray;
    border-radius: 20px;
    padding-left: 10px;
    background-color: #FFFFFF;
    height: 50px;
}
.buttonInscription{
    font-family: inherit;
    width: 200px;
    margin-top: 10px;
}
.centrer{
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}
.blockCommentaires form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*PAGE CONTACT*/
.textContact{
    width: 90%;
    border: solid 1px lightgray;
    border-radius: 20px;
    padding-left: 10px;
    background-color: #FFFFFF;
}

/*PIED DE PAGE*/
footer{
    background-image: url(Img/eggs.jpg);
    background-size: cover;
    height: 70px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
footer *{
    margin: 0 20px;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
}
/* PAGE PROPOSITION*/
.proTitre{
    display: flex;
    flex-direction: row;
    justify-self: end;
    justify-content: center;
    margin-top: 10px;
}
.proTitre input{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: #FFFFFF ;
    border: 0px;
}
h2{
    text-align: center;
}
form h2{
    margin-left: 5%;
    font-size: 30px ;
}
.selection{
    border: solid 1px black ;
    border-radius: 10px;
    width: 350px;
    background-color: #FFFFFF;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuDeroulant{
    border: solid 1px black ;
    border-radius: 10px;
    width: 350px;
    background-color: #FFFFFF;
    padding-left: 10px;
    height: 50px;
}
.selections{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.selectionTemps label{
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
.selectionTemps input{
    margin: .4rem 0;
}
.selectionIngredient{
    display: block;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    padding: 5px 0;
    background-color: #FFFFFF ;
    border: 0px;
    margin: 30px auto;
   
}
.ajoutingredient{
    display: flex;
    
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    margin: 30px auto;
    flex-direction: row;
}
.selectionquantite{
    border: solid 1px black ;
    border-radius: 10px;
    width: 350px;
    background-color: #FFFFFF;
    padding-left: 25px;
    height: 50px;
}
.selectionAjouter{
    border: solid 1px black ;
    border-radius: 10px;
    width: 150px;
    background-color: #FFFFFF;
    padding-left: 10px;
    height: 40px;
}
.ingredientAjout{
    display: flex;
    width: 90%;
    margin: 30px auto;
    flex-direction: row;
    justify-content: space-between;
    justify-self: flex-end;
}
.ajoutNouvelIngredient{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-end; 
}
.listeIngredient{
    padding: 0 50px;
}
.selectionAjouterEtape{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.selectionAjouterEtape textarea{
    border: solid 1px black ;
    border-radius: 10px;
    padding-top: 20px;
    text-align: center;
    margin: 10px auto;    
    width: 100%; 
}
.validerRecette{
    padding: 0 40%;
    margin: 30px;
}
.etapes{
    background-color: white;
    width: 100%;
    height: 150px;
    border: solid 1px black ;
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    margin: 0 auto; 
    justify-content: center;
    align-items: center;
}
.ajoutEtape{
    transform: scale(0.4);
}
/* #ajoutPhoto{
    display: block;
    width: 90%;
    margin: 0 auto;
} */

/* PAGE GESTION*/
.gestionContainer{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
}
.gestionContainer ul{
    list-style: none;
}
.gestionRecette{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #FFFFFF;
    border: solid 1px lightgray;
    border-radius: 20px;
    padding: 0px 20px;
    margin-bottom: 10px;
}
.gestionRecette a {
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 10px;
}

/*LISTE DE COURSE */
.listeContainer{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
}
.listePhotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cardListe{
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 150px;
    height: 150px;
    margin: 10px 20px;
}
.cardListe img{
    display: block;
    width: 150px;
    height: 150px;
}
.cardListe button{
    border: 0px;
    background-color: inherit;
    font-family: inherit;
}
.cardListe button:hover{
    transform: scale(1.3);
    transition: transform 0.3s;
}
.labelListe{
    display: flex;
    justify-content: space-evenly;
}
.listeExport{
    border: solid 1px lightgray;
    border-radius: 20px;
    padding-left: 10px;
    background-color: #FFFFFF;
    height: 50px;
    width: 60%;
    margin: 10px auto;
}







/*VERSION MOBILE*/
@media all and (max-width: 670px) {
    /* BANNIERE VM*/
    .smallHeader h1{
        font-size: 17px;
        margin-left: 40px;
    }
    .smallHeader h1::before{
        content: none;
    }
    header input::placeholder{
        color: #FFFFFF;
    }
    .smallHeader .navHeader{
        margin: 0;
    }
    .smallHeader .navHeader a{
        display: block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        overflow: hidden;
        text-indent: 200px;
        line-height: 200px;
        margin: 0px;
        padding: 0;
        margin-left: 20px;
        background-position: right;
    }
    
    .smallHeader form .burger{
        height: 40px;
        width: 40px;
    }
    .smallHeader .navHeader a{
        margin-right: 20px;
    }
     .gerer{
        background-image: url(Img/settings.svg); 
        background-repeat: no-repeat;
        
    }
    .maListe{
        background-image: url(Img/list.svg);
        transform: translateX(-8px);
        background-repeat: no-repeat;
    }
    
    .seConnecter{
        background-image: url(Img/logIn.svg);
        transform: translateX(-2px);
        background-repeat: no-repeat;
        cursor: pointer;
    }
  
   /*  PLAT DU JOUR VM */
   .platDuJour{
    margin-top: 110px;
   }
    .platDuJour .label{
        font-size: 20px;
    }
    section h2{
        font-size: 15px !important;
    }
    /* MENU BURGER */
    .smallHeader .menuBurger{
        height: 400px;
        width: 90%;
        top: 0;
        overflow: scroll;
        display: block;
        flex-direction: column;
        margin: 100px auto 0 auto;
        justify-items: center;        
    }
    .smallHeader .menuBurger .menuBurgerVisible{
        left: 5%;
        margin: 100px auto 0 auto;
        
    }
    .menuBurger ul{
        border-right: solid 0px;
        border-bottom: solid 1px #000000;
    }

    /* INSCRIPTION ET CONTACT VM*/
    .inscriptionContainer{
        margin-top: 110px;
    }
    /* GESTION VM */
    .gestionContainer{
        margin-top: 110px;
    }
    /* LISTE VM*/
    .listeContainer{
        margin-top: 110px;
    }
    .listePhotos{
        flex-direction: column;
        align-content: center;
    }
    .cardListe{
        width: 80%;
        height: fit-content;
    }
    .cardListe img{
        display: none;
    }

    .connexion {
        top: -110px;
    }
  
  /* PAGE RECETTE VM */
    .corpsPageRecette{
        margin-top: 110px;
    }
    #etoilesBandeau{
        display: none;
    }
    .cardIngredients img{
          display: none;
      }
    .h3Bandeau {
        margin-left: 25px;
        text-align: center;
    }
    .bandeau .bandeauGauche{
        width: 50%;
        display: block;
        margin-left: 10px;
    }
    .bandeau{
        height: auto;
    }
    .bandeau h3{
        font-size: 20px;
    }
    .bandeau h2{
        margin-left: 0px;
    }
    .listIngredients{
        justify-content: space-around;
    }
    
    .listIngredients ul{
        flex-direction: column;
    }
    .ajouterListe {
        font-size: 20px;
    }

      /* PAGE propostionRecette VM */
    .proTitre{
          margin-top: 110px;
      }
    .selections{
        margin: 40px auto 0 auto;
        flex-direction: column;
        align-items: center;
    }
    .selection{
        margin-top: 10px;
    }
    .selectionquantite{
        width: 320px;
        text-align: center;
        margin-top: 10px;
    }
    .menuDeroulant{
        text-align: center;
        margin-top: 10px;
    }
    .selectionAjouter{
        margin-top: 10px;
    }
    .ajoutingredient{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .listeIngredient {
        padding: 0px 20px;
    }
    .tempsbuton{
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
    .validerRecette{
        padding: 0 30%;
        margin: 30px auto;
    }
}
